wdm Sample Configuration

config/ directory contains a collection of files which describe a sample
configuration of wdm. This files were derived from xdm sample configuration.
Some files in this directory are generated according to parameters
passed to configure script. All files in this directory are copied to 
$(DMDIR) with 'make install' command.

Only a few of the many configuration parameters which wdm can be tuned with
are set in this sample, read the wdm manual page for a complete description.
